<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect pipe" [toggleable]="true">
            <p>
                Saludos {{nombre}}, es un placer {{ genero | i18nSelect:invitacionMapa}} a nuestro evento.
            </p>
            <button 
                (click)="cambiarCliente()"
                pButton 
                label="Cambiar Persona" 
                class="p-button-help"
            >
            </button>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nPlural pipe" [toggleable]="true">
            <p>
                Actualmente tenemos {{ clientes.length| i18nPlural:clientesMapa}}
            </p>
            <button 
                (click)="borrarCliente()"
                pButton 
                label="Borrar Cliente" 
                class="p-button-danger"
            >
            </button>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="Slice pipe" [toggleable]="true">
            <b>Original</b>
            <pre>{{clientes}}</pre>
            
            <b>slice:0:2</b>
            <pre>{{ clientes | slice:0:2}}</pre>

            <b>slice:1:2</b>
            <pre>{{ clientes | slice:1:2}}</pre>

            <b>slice:1:3</b>
            <pre>{{ clientes | slice:1:3}}</pre>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset class="KeyValue Pipe" [toggleable]="true">
            <ul>
                <li
                    *ngFor="let item of persona | keyvalue"
                >
                    <b>{{ item.key }}:</b>  {{ item.value }}
                </li>
            </ul>
        </p-fieldset>
    </div>


    <div class="p-col p-md-6">
        <p-fieldset class="KeyValue Pipe" [toggleable]="true">
            
            <pre>{{ heores | json }}</pre>

        </p-fieldset>
    </div>


    <div class="p-col p-md-6">
        <p-fieldset class="KeyValue Pipe" [toggleable]="true">
            <pre *ngIf="!(miObservable | async)">Resolviendo Observable</pre>
            <pre>{{miObservable | async}}</pre>
            <pre *ngIf="!(valorPromesa | async)" >Resolviendo Promesa</pre>
            <pre>{{ valorPromesa | async}}</pre>
        </p-fieldset>
    </div>

</div>